# Packages #
*.zip

# Packages directories #
packages
packaging
releases

# Update Server #
podman.xml
files_podman_minima.xml
files_podman_hathor.xml

# SVN #
.svn

# IDE #
.buildpath
.project
.settings
.DS_Store
.idea

# Phing #
build.properties

# External Build Tools #
phing-joomla-extension-builder.xml
build.properties.dist
