# Packages #
*.zip

# Packages directories #
packages
releases

# Phing #
build.xml

# Update Server #
podman.xml
files_podman_minima.xml
files_podman_hathor.xml

# IDE #
.buildpath
.project
.settings
