# Packages #
*.zip

# Packages directories #
packages
releases

# Update Server #
podman.xml
files_podman_minima.xml
files_podman_hathor.xml

# SVN #
.svn

# IDE #
.buildpath
.project
.settings
.DS_Store
