.info { 
	color: #000000; 
	font-size: 11pt; 
	font-family: Tahoma, serif; 
	text-align: left; 
	padding: 10px; 
	margin-bottom: 5px; 
	background: #CCDDFF; 
	border: 1px #336699 dotted; 
}

.filespace {
	background-color: #FF9999;
}

.alert {
	color: #000000; 
	font-size: 11pt; 
	font-family: Tahoma, serif; 
	text-align: left; 
	padding: 10px; 
	margin-bottom: 5px; 
	background: #FF9999; 
	border: 1px #FF3333 dotted; 
}