<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<config>
	<fieldset
		name="component"
		label="COM_PODCASTMANAGER_FIELDSET_CONFIG_OPTIONS_LABEL"
		description="COM_PODCASTMANAGER_FIELDSET_CONFIG_OPTIONS_DESCRIPTION">
		<field
			name="cache"
			type="radio"
			default="1"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_DESCRIPTION">
			<option	value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="cache_time"
			type="text"
			size="8"
			default="3600"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_TIME_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_TIME_DESCRIPTION" />
		<field
			name="mediapath"
			type="text"
			size="60"
			default="components/com_podcastmanager/media"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_MEDIAPATH_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_MEDIAPATH_DESCRIPTION" />
		<field
			name="linkhandling"
			type="radio"
			default="links"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_DESCRIPTION">
			<option value="links">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_LINKS</option>
			<option value="player">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_FLASH</option>
			<option value="html">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_HTML</option>
			<option value="QTplayer">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_QUICKTIME</option>
		</field>
		<field
			name="playerwidth"
			type="text"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERWIDTH_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERWIDTH_DESCRIPTION" />
		<field
			name="playerheight"
			type="text"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERHEIGHT_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERHEIGHT_DESCRIPTION" />
		<field
			name="linktitle"
			type="text"
			default="Listen Now!"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_LINKTITLE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_LINKTITLE_DESCRIPTION" />
		<field
			name="linkcode"
			type="textarea"
			rows="5"
			cols="30"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_LINKCODE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_LINKCODE_DESCRIPTION" />
		<field
			name="mimetype"
			type="text"
			size="30"
			default="audio/mpeg"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_MIMETYPE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_MIMETYPE_DESCRIPTION" />
		<field
			name="count"
			type="text"
			size="4"
			default="5"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_COUNT_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_COUNT_DESCRIPTION" />
		<field
			name="title"
			type="text"
			size="40"
			default="My Podcast"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_TITLE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_TITLE_DESCRIPTION" />
		<field
			name="description"
			type="textarea"
			rows="5"
			cols="30"
			default="My regular podcast"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_DESCRIPTION_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_DESCRIPTION_DESCRIPTION" />
		<field
			name="copyright"
			type="text"
			size="30"
			default="(C) 2011"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_COPYRIGHT_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_COPYRIGHT_DESCRIPTION" />
		<field
			name="hidehelp"
			type="radio"
			default="0"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_HIDEHELP_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_HIDEHELP_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset
		name="itunes"
		label="COM_PODCASTMANAGER_FIELDSET_ITUNES_OPTIONS_LABEL"
		description="COM_PODCASTMANAGER_FIELDSET_ITUNES_OPTIONS_DESCRIPTION">
		<field
			name="itBlock"
			type="radio"
			default="0"
			label="COM_PODCASTMANAGER_FIELD_ITBLOCK_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_ITBLOCK_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="itExplicit"
			type="radio"
			default="0"
			label="COM_PODCASTMANAGER_FIELD_ITEXPLICIT_LABEL"
			description="COM_PODCASTMANAGER_FIELD_ITEXPLICIT_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">COM_PODCASTMANAGER_FIELD_ITEXPLICIT_OPTION_CLEAN</option>
		</field>
		<field
			name="itAuthor"
			type="text"
			size="30"
			default=""
			label="COM_PODCASTMANAGER_FIELD_ITAUTHOR_LABEL"
			description="COM_PODCASTMANAGER_FIELD_ITAUTHOR_DESCRIPTION" />
		<field
			name="itImage"
			type="text"
			size="30"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_ITIMAGE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_ITIMAGE_DESCRIPTION" />
		<field
			name="itCategory1"
			type="list"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_ITCATEGORY1_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_ITCATEGORY1_DESCRIPTION">
			<option value="">(none)</option>
			<option value="Arts">Arts</option>
			<option value="Arts &gt; Design">Arts &gt; Design</option>
			<option value="Arts &gt; Fashion &amp; Beauty">Arts &gt; Fashion &amp; Beauty</option>
			<option value="Arts &gt; Food">Arts &gt; Food</option>
			<option value="Arts &gt; Literature">Arts &gt; Literature</option>
			<option value="Arts &gt; Performing Arts">Arts &gt; Performing Arts</option>
			<option value="Arts &gt; Visual Arts">Arts &gt; Visual Arts</option>
			<option value="Business">Business</option>
			<option value="Business &gt; Business News">Business &gt; Business News</option>
			<option value="Business &gt; Careers">Business &gt; Careers</option>
			<option value="Business &gt; Investing">Business &gt; Investing</option>
			<option value="Business &gt; Management &amp; Marketing">Business &gt; Management &amp; Marketing</option>
			<option value="Business &gt; Shopping">Business &gt; Shopping</option>
			<option value="Comedy">Comedy</option>
			<option value="Education">Education</option>
			<option value="Education &gt; Education Technology">Education &gt; Education Technology</option>
			<option value="Education &gt; Higher Education">Education &gt; Higher Education</option>
			<option value="Education &gt; K-12">Education &gt; K-12</option>
			<option value="Education &gt; Language Courses">Education &gt; Language Courses</option>
			<option value="Education &gt; Training">Education &gt; Training</option>
			<option value="Games &amp; Hobbies">Games &amp; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Automotive">Games &amp; Hobbies &gt; Automotive</option>
			<option value="Games &amp; Hobbies &gt; Aviation">Games &amp; Hobbies &gt; Aviation</option>
			<option value="Games &amp; Hobbies &gt; Hobbies">Games &amp; Hobbies &gt; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Other Games">Games &amp; Hobbies &gt; Other Games</option>
			<option value="Games &amp; Hobbies &gt; Video Games">Games &amp; Hobbies &gt; Video Games</option>
			<option value="Government &amp; Organizations">Government &amp; Organizations</option>
			<option value="Government &amp; Organizations &gt; Local">Government &amp; Organizations &gt; Local</option>
			<option value="Government &amp; Organizations &gt; National">Government &amp; Organizations &gt; National</option>
			<option value="Government &amp; Organizations &gt; Non-Profit">Government &amp; Organizations &gt; Non-Profit</option>
			<option value="Government &amp; Organizations &gt; Regional">Government &amp; Organizations &gt; Regional</option>
			<option value="Health">Health</option>
			<option value="Health &gt; Alternative Health">Health &gt; Alternative Health</option>
			<option value="Health &gt; Fitness &amp; Nutrition">Health &gt; Fitness &amp; Nutrition</option>
			<option value="Health &gt; Self-Help">Health &gt; Self-Help</option>
			<option value="Health &gt; Sexuality">Health &gt; Sexuality</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Music">Music</option>
			<option value="News &amp; Politics">News &amp; Politics</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality &gt; Buddhism">Religion &amp; Spirituality &gt; Buddhism</option>
			<option value="Religion &amp; Spirituality &gt; Christianity">Religion &amp; Spirituality &gt; Christianity</option>
			<option value="Religion &amp; Spirituality &gt; Hinduism">Religion &amp; Spirituality &gt; Hinduism</option>
			<option value="Religion &amp; Spirituality &gt; Islam">Religion &amp; Spirituality &gt; Islam</option>
			<option value="Religion &amp; Spirituality &gt; Judaism">Religion &amp; Spirituality &gt; Judaism</option>
			<option value="Religion &amp; Spirituality &gt; Other">Religion &amp; Spirituality &gt; Other</option>
			<option value="Religion &amp; Spirituality &gt; Spirituality">Religion &amp; Spirituality &gt; Spirituality</option>
			<option value="Science &amp; Medicine">Science &amp; Medicine</option>
			<option value="Science &amp; Medicine &gt; Medicine">Science &amp; Medicine &gt; Medicine</option>
			<option value="Science &amp; Medicine &gt; Natural Sciences">Science &amp; Medicine &gt; Natural Sciences</option>
			<option value="Science &amp; Medicine &gt; Social Sciences">Science &amp; Medicine &gt; Social Sciences</option>
			<option value="Society &amp; Culture">Society &amp; Culture</option>
			<option value="Society &amp; Culture &gt; History">Society &amp; Culture &gt; History</option>
			<option value="Society &amp; Culture &gt; Personal Journals">Society &amp; Culture &gt; Personal Journals</option>
			<option value="Society &amp; Culture &gt; Philosophy">Society &amp; Culture &gt; Philosophy</option>
			<option value="Society &amp; Culture &gt; Places &amp; Travel">Society &amp; Culture &gt; Places &amp; Travel</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation &gt; Amateur">Sports &amp; Recreation &gt; Amateur</option>
			<option value="Sports &amp; Recreation &gt; College &amp; High School">Sports &amp; Recreation &gt; College &amp; High School</option>
			<option value="Sports &amp; Recreation &gt; Outdoor">Sports &amp; Recreation &gt; Outdoor</option>
			<option value="Sports &amp; Recreation &gt; Professional">Sports &amp; Recreation &gt; Professional</option>
			<option value="Technology">Technology</option>
			<option value="Technology &gt; Gadgets">Technology &gt; Gadgets</option>
			<option value="Technology &gt; Tech News">Technology &gt; Tech News</option>
			<option value="Technology &gt; Podcasting">Technology &gt; Podcasting</option>
			<option value="Technology &gt; Software How-To">Technology &gt; Software How-To</option>
			<option value="TV &amp; Film">TV &amp; Film</option>
		</field>
		<field
			name="itCategory2"
			type="list"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_ITCATEGORY2_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_ITCATEGORY2_DESCRIPTION">
			<option value="">(none)</option>
			<option value="Arts">Arts</option>
			<option value="Arts &gt; Design">Arts &gt; Design</option>
			<option value="Arts &gt; Fashion &amp; Beauty">Arts &gt; Fashion &amp; Beauty</option>
			<option value="Arts &gt; Food">Arts &gt; Food</option>
			<option value="Arts &gt; Literature">Arts &gt; Literature</option>
			<option value="Arts &gt; Performing Arts">Arts &gt; Performing Arts</option>
			<option value="Arts &gt; Visual Arts">Arts &gt; Visual Arts</option>
			<option value="Business">Business</option>
			<option value="Business &gt; Business News">Business &gt; Business News</option>
			<option value="Business &gt; Careers">Business &gt; Careers</option>
			<option value="Business &gt; Investing">Business &gt; Investing</option>
			<option value="Business &gt; Management &amp; Marketing">Business &gt; Management &amp; Marketing</option>
			<option value="Business &gt; Shopping">Business &gt; Shopping</option>
			<option value="Comedy">Comedy</option>
			<option value="Education">Education</option>
			<option value="Education &gt; Education Technology">Education &gt; Education Technology</option>
			<option value="Education &gt; Higher Education">Education &gt; Higher Education</option>
			<option value="Education &gt; K-12">Education &gt; K-12</option>
			<option value="Education &gt; Language Courses">Education &gt; Language Courses</option>
			<option value="Education &gt; Training">Education &gt; Training</option>
			<option value="Games &amp; Hobbies">Games &amp; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Automotive">Games &amp; Hobbies &gt; Automotive</option>
			<option value="Games &amp; Hobbies &gt; Aviation">Games &amp; Hobbies &gt; Aviation</option>
			<option value="Games &amp; Hobbies &gt; Hobbies">Games &amp; Hobbies &gt; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Other Games">Games &amp; Hobbies &gt; Other Games</option>
			<option value="Games &amp; Hobbies &gt; Video Games">Games &amp; Hobbies &gt; Video Games</option>
			<option value="Government &amp; Organizations">Government &amp; Organizations</option>
			<option value="Government &amp; Organizations &gt; Local">Government &amp; Organizations &gt; Local</option>
			<option value="Government &amp; Organizations &gt; National">Government &amp; Organizations &gt; National</option>
			<option value="Government &amp; Organizations &gt; Non-Profit">Government &amp; Organizations &gt; Non-Profit</option>
			<option value="Government &amp; Organizations &gt; Regional">Government &amp; Organizations &gt; Regional</option>
			<option value="Health">Health</option>
			<option value="Health &gt; Alternative Health">Health &gt; Alternative Health</option>
			<option value="Health &gt; Fitness &amp; Nutrition">Health &gt; Fitness &amp; Nutrition</option>
			<option value="Health &gt; Self-Help">Health &gt; Self-Help</option>
			<option value="Health &gt; Sexuality">Health &gt; Sexuality</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Music">Music</option>
			<option value="News &amp; Politics">News &amp; Politics</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality &gt; Buddhism">Religion &amp; Spirituality &gt; Buddhism</option>
			<option value="Religion &amp; Spirituality &gt; Christianity">Religion &amp; Spirituality &gt; Christianity</option>
			<option value="Religion &amp; Spirituality &gt; Hinduism">Religion &amp; Spirituality &gt; Hinduism</option>
			<option value="Religion &amp; Spirituality &gt; Islam">Religion &amp; Spirituality &gt; Islam</option>
			<option value="Religion &amp; Spirituality &gt; Judaism">Religion &amp; Spirituality &gt; Judaism</option>
			<option value="Religion &amp; Spirituality &gt; Other">Religion &amp; Spirituality &gt; Other</option>
			<option value="Religion &amp; Spirituality &gt; Spirituality">Religion &amp; Spirituality &gt; Spirituality</option>
			<option value="Science &amp; Medicine">Science &amp; Medicine</option>
			<option value="Science &amp; Medicine &gt; Medicine">Science &amp; Medicine &gt; Medicine</option>
			<option value="Science &amp; Medicine &gt; Natural Sciences">Science &amp; Medicine &gt; Natural Sciences</option>
			<option value="Science &amp; Medicine &gt; Social Sciences">Science &amp; Medicine &gt; Social Sciences</option>
			<option value="Society &amp; Culture">Society &amp; Culture</option>
			<option value="Society &amp; Culture &gt; History">Society &amp; Culture &gt; History</option>
			<option value="Society &amp; Culture &gt; Personal Journals">Society &amp; Culture &gt; Personal Journals</option>
			<option value="Society &amp; Culture &gt; Philosophy">Society &amp; Culture &gt; Philosophy</option>
			<option value="Society &amp; Culture &gt; Places &amp; Travel">Society &amp; Culture &gt; Places &amp; Travel</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation &gt; Amateur">Sports &amp; Recreation &gt; Amateur</option>
			<option value="Sports &amp; Recreation &gt; College &amp; High School">Sports &amp; Recreation &gt; College &amp; High School</option>
			<option value="Sports &amp; Recreation &gt; Outdoor">Sports &amp; Recreation &gt; Outdoor</option>
			<option value="Sports &amp; Recreation &gt; Professional">Sports &amp; Recreation &gt; Professional</option>
			<option value="Technology">Technology</option>
			<option value="Technology &gt; Gadgets">Technology &gt; Gadgets</option>
			<option value="Technology &gt; Tech News">Technology &gt; Tech News</option>
			<option value="Technology &gt; Podcasting">Technology &gt; Podcasting</option>
			<option value="Technology &gt; Software How-To">Technology &gt; Software How-To</option>
			<option value="TV &amp; Film">TV &amp; Film</option>
		</field>
		<field
			name="itCategory3"
			type="list"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_ITCATEGORY3_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_ITCATEGORY3_DESCRIPTION">
			<option value="">(none)</option>
			<option value="Arts">Arts</option>
			<option value="Arts &gt; Design">Arts &gt; Design</option>
			<option value="Arts &gt; Fashion &amp; Beauty">Arts &gt; Fashion &amp; Beauty</option>
			<option value="Arts &gt; Food">Arts &gt; Food</option>
			<option value="Arts &gt; Literature">Arts &gt; Literature</option>
			<option value="Arts &gt; Performing Arts">Arts &gt; Performing Arts</option>
			<option value="Arts &gt; Visual Arts">Arts &gt; Visual Arts</option>
			<option value="Business">Business</option>
			<option value="Business &gt; Business News">Business &gt; Business News</option>
			<option value="Business &gt; Careers">Business &gt; Careers</option>
			<option value="Business &gt; Investing">Business &gt; Investing</option>
			<option value="Business &gt; Management &amp; Marketing">Business &gt; Management &amp; Marketing</option>
			<option value="Business &gt; Shopping">Business &gt; Shopping</option>
			<option value="Comedy">Comedy</option>
			<option value="Education">Education</option>
			<option value="Education &gt; Education Technology">Education &gt; Education Technology</option>
			<option value="Education &gt; Higher Education">Education &gt; Higher Education</option>
			<option value="Education &gt; K-12">Education &gt; K-12</option>
			<option value="Education &gt; Language Courses">Education &gt; Language Courses</option>
			<option value="Education &gt; Training">Education &gt; Training</option>
			<option value="Games &amp; Hobbies">Games &amp; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Automotive">Games &amp; Hobbies &gt; Automotive</option>
			<option value="Games &amp; Hobbies &gt; Aviation">Games &amp; Hobbies &gt; Aviation</option>
			<option value="Games &amp; Hobbies &gt; Hobbies">Games &amp; Hobbies &gt; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Other Games">Games &amp; Hobbies &gt; Other Games</option>
			<option value="Games &amp; Hobbies &gt; Video Games">Games &amp; Hobbies &gt; Video Games</option>
			<option value="Government &amp; Organizations">Government &amp; Organizations</option>
			<option value="Government &amp; Organizations &gt; Local">Government &amp; Organizations &gt; Local</option>
			<option value="Government &amp; Organizations &gt; National">Government &amp; Organizations &gt; National</option>
			<option value="Government &amp; Organizations &gt; Non-Profit">Government &amp; Organizations &gt; Non-Profit</option>
			<option value="Government &amp; Organizations &gt; Regional">Government &amp; Organizations &gt; Regional</option>
			<option value="Health">Health</option>
			<option value="Health &gt; Alternative Health">Health &gt; Alternative Health</option>
			<option value="Health &gt; Fitness &amp; Nutrition">Health &gt; Fitness &amp; Nutrition</option>
			<option value="Health &gt; Self-Help">Health &gt; Self-Help</option>
			<option value="Health &gt; Sexuality">Health &gt; Sexuality</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Music">Music</option>
			<option value="News &amp; Politics">News &amp; Politics</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality &gt; Buddhism">Religion &amp; Spirituality &gt; Buddhism</option>
			<option value="Religion &amp; Spirituality &gt; Christianity">Religion &amp; Spirituality &gt; Christianity</option>
			<option value="Religion &amp; Spirituality &gt; Hinduism">Religion &amp; Spirituality &gt; Hinduism</option>
			<option value="Religion &amp; Spirituality &gt; Islam">Religion &amp; Spirituality &gt; Islam</option>
			<option value="Religion &amp; Spirituality &gt; Judaism">Religion &amp; Spirituality &gt; Judaism</option>
			<option value="Religion &amp; Spirituality &gt; Other">Religion &amp; Spirituality &gt; Other</option>
			<option value="Religion &amp; Spirituality &gt; Spirituality">Religion &amp; Spirituality &gt; Spirituality</option>
			<option value="Science &amp; Medicine">Science &amp; Medicine</option>
			<option value="Science &amp; Medicine &gt; Medicine">Science &amp; Medicine &gt; Medicine</option>
			<option value="Science &amp; Medicine &gt; Natural Sciences">Science &amp; Medicine &gt; Natural Sciences</option>
			<option value="Science &amp; Medicine &gt; Social Sciences">Science &amp; Medicine &gt; Social Sciences</option>
			<option value="Society &amp; Culture">Society &amp; Culture</option>
			<option value="Society &amp; Culture &gt; History">Society &amp; Culture &gt; History</option>
			<option value="Society &amp; Culture &gt; Personal Journals">Society &amp; Culture &gt; Personal Journals</option>
			<option value="Society &amp; Culture &gt; Philosophy">Society &amp; Culture &gt; Philosophy</option>
			<option value="Society &amp; Culture &gt; Places &amp; Travel">Society &amp; Culture &gt; Places &amp; Travel</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation &gt; Amateur">Sports &amp; Recreation &gt; Amateur</option>
			<option value="Sports &amp; Recreation &gt; College &amp; High School">Sports &amp; Recreation &gt; College &amp; High School</option>
			<option value="Sports &amp; Recreation &gt; Outdoor">Sports &amp; Recreation &gt; Outdoor</option>
			<option value="Sports &amp; Recreation &gt; Professional">Sports &amp; Recreation &gt; Professional</option>
			<option value="Technology">Technology</option>
			<option value="Technology &gt; Gadgets">Technology &gt; Gadgets</option>
			<option value="Technology &gt; Tech News">Technology &gt; Tech News</option>
			<option value="Technology &gt; Podcasting">Technology &gt; Podcasting</option>
			<option value="Technology &gt; Software How-To">Technology &gt; Software How-To</option>
			<option value="TV &amp; Film">TV &amp; Film</option>
		</field>
		<field
			name="itKeywords"
			type="text"
			size="30"
			default=""
			label="COM_PODCASTMANAGER_FIELD_ITKEYWORDS_LABEL"
			description="COM_PODCASTMANAGER_FIELD_ITKEYWORDS_DESCRIPTION" />
		<field
			name="itOwnerEmail"
			type="text"
			size="30"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_ITOWNEREMAIL_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_ITOWNEREMAIL_DESCRIPTION" />
		<field
			name="itOwnerName"
			type="text"
			size="30"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_ITOWNERNAME_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_ITOWNERNAME_DESCRIPTION" />
		<field
			name="itSubtitle"
			type="text"
			size="30"
			default=""
			label="COM_PODCASTMANAGER_FIELD_ITSUBTITLE_LABEL"
			description="COM_PODCASTMANAGER_FIELD_ITSUBTITLE_DESCRIPTION" />
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_podcastmanager"
			section="component" />
	</fieldset>
</config>