<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: config.xml 19439 2010-11-10 15:42:23Z chdemko $ -->
<config>
	<fieldset name="component"
		label="COM_PODCASTMANAGER_FIELDSET_CONFIG_OPTIONS_LABEL"
		description="COM_PODCASTMANAGER_FIELDSET_CONFIG_OPTIONS_DESC">
		<field name="cache" type="radio" default="1" label="Cache" description="TIPCACHE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="mediapath" type="text" size="40" default="components/com_podcast/media" label="Path for uploaded media" description="TIPMEDIA" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="linkhandling" type="radio" default="links" label="Link titles, Flash player, code, or QuickTime" description="TIPLINKHANDLING">
			<option value="links">LINKHANDLELINKS</option>
			<option value="player">LINKHANDLEFLASH</option>
			<option value="html">LINKHANDLEHTML</option>
			<option value="QTplayer">LINKHANDLEQUICKTIME</option>
		</field>
		<field name="playerwidth" type="text" default="" label="Player Width" description="TIPPLAYERWIDTH" />
		<field name="playerheight" type="text" default="" label="Player Height" description="TIPPLAYERHEIGHT" />
		<field name="linktitle" type="text" default="Listen Now!" label="Enclosure Link Titles" description="TIPLINKTITLES" />
		<field name="linkcode" type="textarea" rows="5" cols="30" default="" label="Enclosure Code" description="TIPENCLOSURE" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="cache_time" type="text" size="8" default="3600" label="Cache Time" description="TIPCACHETIME" />
		<field name="mimetype" type="text" size="30" default="audio/mpeg" label="MIME type" description="TIPMIME" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="count" type="text" size="4" default="5" label="# Items" description="TIPITEMS" />
		<field name="title" type="text" size="40" default="My Podcast" label="Title" description="TIPTITLE" />
		<field name="description" type="textarea" rows="5" cols="30" default="My regular podcast" label="Description" description="TIPDESCRIPTION" />
		<field name="copyright" type="text" size="30" default="(c) 2008" label="Copyright" description="Copyright" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="hidehelps" type="radio" default="0" label="Hide Helps" description="TIPHIDEHELPS">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="itBlock" type="radio" default="0" label="ITUNES BLOCK" description="TIPITUNESBLOCK">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="itExplicit" type="radio" default="0" label="ITUNES EXPLICIT" description="TIPITUNESEXPLICIT">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="itAuthor" type="text" size="30" default="" label="ITUNES AUTHOR" description="TIPITUNESAUTHOR" />
		<field name="itImage" type="text" size="30" default="" label="iTunes Image" description="TIPITUNESIMAGE" />
		<field name="itCategory1" type="list" default="" label="ITUNES CATEGORY 1" description="TIPITUNESCAT1">
			<option value="">(none)</option>
			<option value="Arts">Arts</option>
			<option value="Arts &gt; Design">Arts &gt; Design</option>
			<option value="Arts &gt; Fashion &amp; Beauty">Arts &gt; Fashion &amp; Beauty</option>
			<option value="Arts &gt; Food">Arts &gt; Food</option>
			<option value="Arts &gt; Literature">Arts &gt; Literature</option>
			<option value="Arts &gt; Performing Arts">Arts &gt; Performing Arts</option>
			<option value="Arts &gt; Visual Arts">Arts &gt; Visual Arts</option>
			<option value="Business">Business</option>
			<option value="Business &gt; Business News">Business &gt; Business News</option>
			<option value="Business &gt; Careers">Business &gt; Careers</option>
			<option value="Business &gt; Investing">Business &gt; Investing</option>
			<option value="Business &gt; Management &amp; Marketing">Business &gt; Management &amp; Marketing</option>
			<option value="Business &gt; Shopping">Business &gt; Shopping</option>
			<option value="Comedy">Comedy</option>
			<option value="Education">Education</option>
			<option value="Education &gt; Education Technology">Education &gt; Education Technology</option>
			<option value="Education &gt; Higher Education">Education &gt; Higher Education</option>
			<option value="Education &gt; K-12">Education &gt; K-12</option>
			<option value="Education &gt; Language Courses">Education &gt; Language Courses</option>
			<option value="Education &gt; Training">Education &gt; Training</option>
			<option value="Games &amp; Hobbies">Games &amp; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Automotive">Games &amp; Hobbies &gt; Automotive</option>
			<option value="Games &amp; Hobbies &gt; Aviation">Games &amp; Hobbies &gt; Aviation</option>
			<option value="Games &amp; Hobbies &gt; Hobbies">Games &amp; Hobbies &gt; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Other Games">Games &amp; Hobbies &gt; Other Games</option>
			<option value="Games &amp; Hobbies &gt; Video Games">Games &amp; Hobbies &gt; Video Games</option>
			<option value="Government &amp; Organizations">Government &amp; Organizations</option>
			<option value="Government &amp; Organizations &gt; Local">Government &amp; Organizations &gt; Local</option>
			<option value="Government &amp; Organizations &gt; National">Government &amp; Organizations &gt; National</option>
			<option value="Government &amp; Organizations &gt; Non-Profit">Government &amp; Organizations &gt; Non-Profit</option>
			<option value="Government &amp; Organizations &gt; Regional">Government &amp; Organizations &gt; Regional</option>
			<option value="Health">Health</option>
			<option value="Health &gt; Alternative Health">Health &gt; Alternative Health</option>
			<option value="Health &gt; Fitness &amp; Nutrition">Health &gt; Fitness &amp; Nutrition</option>
			<option value="Health &gt; Self-Help">Health &gt; Self-Help</option>
			<option value="Health &gt; Sexuality">Health &gt; Sexuality</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Music">Music</option>
			<option value="News &amp; Politics">News &amp; Politics</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality &gt; Buddhism">Religion &amp; Spirituality &gt; Buddhism</option>
			<option value="Religion &amp; Spirituality &gt; Christianity">Religion &amp; Spirituality &gt; Christianity</option>
			<option value="Religion &amp; Spirituality &gt; Hinduism">Religion &amp; Spirituality &gt; Hinduism</option>
			<option value="Religion &amp; Spirituality &gt; Islam">Religion &amp; Spirituality &gt; Islam</option>
			<option value="Religion &amp; Spirituality &gt; Judaism">Religion &amp; Spirituality &gt; Judaism</option>
			<option value="Religion &amp; Spirituality &gt; Other">Religion &amp; Spirituality &gt; Other</option>
			<option value="Religion &amp; Spirituality &gt; Spirituality">Religion &amp; Spirituality &gt; Spirituality</option>
			<option value="Science &amp; Medicine">Science &amp; Medicine</option>
			<option value="Science &amp; Medicine &gt; Medicine">Science &amp; Medicine &gt; Medicine</option>
			<option value="Science &amp; Medicine &gt; Natural Sciences">Science &amp; Medicine &gt; Natural Sciences</option>
			<option value="Science &amp; Medicine &gt; Social Sciences">Science &amp; Medicine &gt; Social Sciences</option>
			<option value="Society &amp; Culture">Society &amp; Culture</option>
			<option value="Society &amp; Culture &gt; History">Society &amp; Culture &gt; History</option>
			<option value="Society &amp; Culture &gt; Personal Journals">Society &amp; Culture &gt; Personal Journals</option>
			<option value="Society &amp; Culture &gt; Philosophy">Society &amp; Culture &gt; Philosophy</option>
			<option value="Society &amp; Culture &gt; Places &amp; Travel">Society &amp; Culture &gt; Places &amp; Travel</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation &gt; Amateur">Sports &amp; Recreation &gt; Amateur</option>
			<option value="Sports &amp; Recreation &gt; College &amp; High School">Sports &amp; Recreation &gt; College &amp; High School</option>
			<option value="Sports &amp; Recreation &gt; Outdoor">Sports &amp; Recreation &gt; Outdoor</option>
			<option value="Sports &amp; Recreation &gt; Professional">Sports &amp; Recreation &gt; Professional</option>
			<option value="Technology">Technology</option>
			<option value="Technology &gt; Gadgets">Technology &gt; Gadgets</option>
			<option value="Technology &gt; Tech News">Technology &gt; Tech News</option>
			<option value="Technology &gt; Podcasting">Technology &gt; Podcasting</option>
			<option value="Technology &gt; Software How-To">Technology &gt; Software How-To</option>
			<option value="TV &amp; Film">TV &amp; Film</option>
		</field>
		<field name="itCategory2" type="list" default="" label="ITUNES CATEGORY 2" description="TIPITUNESCAT2">
			<option value="">(none)</option>
			<option value="Arts">Arts</option>
			<option value="Arts &gt; Design">Arts &gt; Design</option>
			<option value="Arts &gt; Fashion &amp; Beauty">Arts &gt; Fashion &amp; Beauty</option>
			<option value="Arts &gt; Food">Arts &gt; Food</option>
			<option value="Arts &gt; Literature">Arts &gt; Literature</option>
			<option value="Arts &gt; Performing Arts">Arts &gt; Performing Arts</option>
			<option value="Arts &gt; Visual Arts">Arts &gt; Visual Arts</option>
			<option value="Business">Business</option>
			<option value="Business &gt; Business News">Business &gt; Business News</option>
			<option value="Business &gt; Careers">Business &gt; Careers</option>
			<option value="Business &gt; Investing">Business &gt; Investing</option>
			<option value="Business &gt; Management &amp; Marketing">Business &gt; Management &amp; Marketing</option>
			<option value="Business &gt; Shopping">Business &gt; Shopping</option>
			<option value="Comedy">Comedy</option>
			<option value="Education">Education</option>
			<option value="Education &gt; Education Technology">Education &gt; Education Technology</option>
			<option value="Education &gt; Higher Education">Education &gt; Higher Education</option>
			<option value="Education &gt; K-12">Education &gt; K-12</option>
			<option value="Education &gt; Language Courses">Education &gt; Language Courses</option>
			<option value="Education &gt; Training">Education &gt; Training</option>
			<option value="Games &amp; Hobbies">Games &amp; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Automotive">Games &amp; Hobbies &gt; Automotive</option>
			<option value="Games &amp; Hobbies &gt; Aviation">Games &amp; Hobbies &gt; Aviation</option>
			<option value="Games &amp; Hobbies &gt; Hobbies">Games &amp; Hobbies &gt; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Other Games">Games &amp; Hobbies &gt; Other Games</option>
			<option value="Games &amp; Hobbies &gt; Video Games">Games &amp; Hobbies &gt; Video Games</option>
			<option value="Government &amp; Organizations">Government &amp; Organizations</option>
			<option value="Government &amp; Organizations &gt; Local">Government &amp; Organizations &gt; Local</option>
			<option value="Government &amp; Organizations &gt; National">Government &amp; Organizations &gt; National</option>
			<option value="Government &amp; Organizations &gt; Non-Profit">Government &amp; Organizations &gt; Non-Profit</option>
			<option value="Government &amp; Organizations &gt; Regional">Government &amp; Organizations &gt; Regional</option>
			<option value="Health">Health</option>
			<option value="Health &gt; Alternative Health">Health &gt; Alternative Health</option>
			<option value="Health &gt; Fitness &amp; Nutrition">Health &gt; Fitness &amp; Nutrition</option>
			<option value="Health &gt; Self-Help">Health &gt; Self-Help</option>
			<option value="Health &gt; Sexuality">Health &gt; Sexuality</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Music">Music</option>
			<option value="News &amp; Politics">News &amp; Politics</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality &gt; Buddhism">Religion &amp; Spirituality &gt; Buddhism</option>
			<option value="Religion &amp; Spirituality &gt; Christianity">Religion &amp; Spirituality &gt; Christianity</option>
			<option value="Religion &amp; Spirituality &gt; Hinduism">Religion &amp; Spirituality &gt; Hinduism</option>
			<option value="Religion &amp; Spirituality &gt; Islam">Religion &amp; Spirituality &gt; Islam</option>
			<option value="Religion &amp; Spirituality &gt; Judaism">Religion &amp; Spirituality &gt; Judaism</option>
			<option value="Religion &amp; Spirituality &gt; Other">Religion &amp; Spirituality &gt; Other</option>
			<option value="Religion &amp; Spirituality &gt; Spirituality">Religion &amp; Spirituality &gt; Spirituality</option>
			<option value="Science &amp; Medicine">Science &amp; Medicine</option>
			<option value="Science &amp; Medicine &gt; Medicine">Science &amp; Medicine &gt; Medicine</option>
			<option value="Science &amp; Medicine &gt; Natural Sciences">Science &amp; Medicine &gt; Natural Sciences</option>
			<option value="Science &amp; Medicine &gt; Social Sciences">Science &amp; Medicine &gt; Social Sciences</option>
			<option value="Society &amp; Culture">Society &amp; Culture</option>
			<option value="Society &amp; Culture &gt; History">Society &amp; Culture &gt; History</option>
			<option value="Society &amp; Culture &gt; Personal Journals">Society &amp; Culture &gt; Personal Journals</option>
			<option value="Society &amp; Culture &gt; Philosophy">Society &amp; Culture &gt; Philosophy</option>
			<option value="Society &amp; Culture &gt; Places &amp; Travel">Society &amp; Culture &gt; Places &amp; Travel</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation &gt; Amateur">Sports &amp; Recreation &gt; Amateur</option>
			<option value="Sports &amp; Recreation &gt; College &amp; High School">Sports &amp; Recreation &gt; College &amp; High School</option>
			<option value="Sports &amp; Recreation &gt; Outdoor">Sports &amp; Recreation &gt; Outdoor</option>
			<option value="Sports &amp; Recreation &gt; Professional">Sports &amp; Recreation &gt; Professional</option>
			<option value="Technology">Technology</option>
			<option value="Technology &gt; Gadgets">Technology &gt; Gadgets</option>
			<option value="Technology &gt; Tech News">Technology &gt; Tech News</option>
			<option value="Technology &gt; Podcasting">Technology &gt; Podcasting</option>
			<option value="Technology &gt; Software How-To">Technology &gt; Software How-To</option>
			<option value="TV &amp; Film">TV &amp; Film</option>
		</field>
		<field name="itCategory3" type="list" default="" label="ITUNES CATEGORY 3" description="TIPITUNESCAT3">
			<option value="">(none)</option>
			<option value="Arts">Arts</option>
			<option value="Arts &gt; Design">Arts &gt; Design</option>
			<option value="Arts &gt; Fashion &amp; Beauty">Arts &gt; Fashion &amp; Beauty</option>
			<option value="Arts &gt; Food">Arts &gt; Food</option>
			<option value="Arts &gt; Literature">Arts &gt; Literature</option>
			<option value="Arts &gt; Performing Arts">Arts &gt; Performing Arts</option>
			<option value="Arts &gt; Visual Arts">Arts &gt; Visual Arts</option>
			<option value="Business">Business</option>
			<option value="Business &gt; Business News">Business &gt; Business News</option>
			<option value="Business &gt; Careers">Business &gt; Careers</option>
			<option value="Business &gt; Investing">Business &gt; Investing</option>
			<option value="Business &gt; Management &amp; Marketing">Business &gt; Management &amp; Marketing</option>
			<option value="Business &gt; Shopping">Business &gt; Shopping</option>
			<option value="Comedy">Comedy</option>
			<option value="Education">Education</option>
			<option value="Education &gt; Education Technology">Education &gt; Education Technology</option>
			<option value="Education &gt; Higher Education">Education &gt; Higher Education</option>
			<option value="Education &gt; K-12">Education &gt; K-12</option>
			<option value="Education &gt; Language Courses">Education &gt; Language Courses</option>
			<option value="Education &gt; Training">Education &gt; Training</option>
			<option value="Games &amp; Hobbies">Games &amp; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Automotive">Games &amp; Hobbies &gt; Automotive</option>
			<option value="Games &amp; Hobbies &gt; Aviation">Games &amp; Hobbies &gt; Aviation</option>
			<option value="Games &amp; Hobbies &gt; Hobbies">Games &amp; Hobbies &gt; Hobbies</option>
			<option value="Games &amp; Hobbies &gt; Other Games">Games &amp; Hobbies &gt; Other Games</option>
			<option value="Games &amp; Hobbies &gt; Video Games">Games &amp; Hobbies &gt; Video Games</option>
			<option value="Government &amp; Organizations">Government &amp; Organizations</option>
			<option value="Government &amp; Organizations &gt; Local">Government &amp; Organizations &gt; Local</option>
			<option value="Government &amp; Organizations &gt; National">Government &amp; Organizations &gt; National</option>
			<option value="Government &amp; Organizations &gt; Non-Profit">Government &amp; Organizations &gt; Non-Profit</option>
			<option value="Government &amp; Organizations &gt; Regional">Government &amp; Organizations &gt; Regional</option>
			<option value="Health">Health</option>
			<option value="Health &gt; Alternative Health">Health &gt; Alternative Health</option>
			<option value="Health &gt; Fitness &amp; Nutrition">Health &gt; Fitness &amp; Nutrition</option>
			<option value="Health &gt; Self-Help">Health &gt; Self-Help</option>
			<option value="Health &gt; Sexuality">Health &gt; Sexuality</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Music">Music</option>
			<option value="News &amp; Politics">News &amp; Politics</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality &gt; Buddhism">Religion &amp; Spirituality &gt; Buddhism</option>
			<option value="Religion &amp; Spirituality &gt; Christianity">Religion &amp; Spirituality &gt; Christianity</option>
			<option value="Religion &amp; Spirituality &gt; Hinduism">Religion &amp; Spirituality &gt; Hinduism</option>
			<option value="Religion &amp; Spirituality &gt; Islam">Religion &amp; Spirituality &gt; Islam</option>
			<option value="Religion &amp; Spirituality &gt; Judaism">Religion &amp; Spirituality &gt; Judaism</option>
			<option value="Religion &amp; Spirituality &gt; Other">Religion &amp; Spirituality &gt; Other</option>
			<option value="Religion &amp; Spirituality &gt; Spirituality">Religion &amp; Spirituality &gt; Spirituality</option>
			<option value="Science &amp; Medicine">Science &amp; Medicine</option>
			<option value="Science &amp; Medicine &gt; Medicine">Science &amp; Medicine &gt; Medicine</option>
			<option value="Science &amp; Medicine &gt; Natural Sciences">Science &amp; Medicine &gt; Natural Sciences</option>
			<option value="Science &amp; Medicine &gt; Social Sciences">Science &amp; Medicine &gt; Social Sciences</option>
			<option value="Society &amp; Culture">Society &amp; Culture</option>
			<option value="Society &amp; Culture &gt; History">Society &amp; Culture &gt; History</option>
			<option value="Society &amp; Culture &gt; Personal Journals">Society &amp; Culture &gt; Personal Journals</option>
			<option value="Society &amp; Culture &gt; Philosophy">Society &amp; Culture &gt; Philosophy</option>
			<option value="Society &amp; Culture &gt; Places &amp; Travel">Society &amp; Culture &gt; Places &amp; Travel</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation &gt; Amateur">Sports &amp; Recreation &gt; Amateur</option>
			<option value="Sports &amp; Recreation &gt; College &amp; High School">Sports &amp; Recreation &gt; College &amp; High School</option>
			<option value="Sports &amp; Recreation &gt; Outdoor">Sports &amp; Recreation &gt; Outdoor</option>
			<option value="Sports &amp; Recreation &gt; Professional">Sports &amp; Recreation &gt; Professional</option>
			<option value="Technology">Technology</option>
			<option value="Technology &gt; Gadgets">Technology &gt; Gadgets</option>
			<option value="Technology &gt; Tech News">Technology &gt; Tech News</option>
			<option value="Technology &gt; Podcasting">Technology &gt; Podcasting</option>
			<option value="Technology &gt; Software How-To">Technology &gt; Software How-To</option>
			<option value="TV &amp; Film">TV &amp; Film</option>
		</field>
		<field name="itKeywords" type="text" size="30" default="" label="ITUNES KEYWORDS" description="TIPITUNESKEYWORDS" />
		<field name="itOwnerEmail" type="text" size="30" default="" label="ITUNES OWNER E-MAIL" description="TIPITUNESOWNEREMAIL" />
		<field name="itOwnerName" type="text" size="30" default="" label="ITUNES OWNER NAME" description="TIPITUNESOWNERNAME" />
		<field name="itSubtitle" type="text" size="30" default="" label="ITUNES SUBTITLE" description="TIPITUNESSUBTITLE" />
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_podcastmanager"
			section="component" />
	</fieldset>
</config>