<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<config>
	<fieldset
		name="component"
		label="COM_PODCASTMANAGER_FIELDSET_CONFIG_OPTIONS_LABEL"
		description="COM_PODCASTMANAGER_FIELDSET_CONFIG_OPTIONS_DESCRIPTION">
		<field
			name="cache"
			type="radio"
			default="1"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_DESCRIPTION">
			<option	value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="cache_time"
			type="text"
			size="8"
			default="3600"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_TIME_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_CACHE_TIME_DESCRIPTION" />
		<field
			name="linkhandling"
			type="radio"
			default="link"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_DESCRIPTION">
			<option value="custom">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_CUSTOM</option>
			<option value="link">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_LINK</option>
			<option value="player">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_FLASH</option>
			<option value="QTplayer">COM_PODCASTMANAGER_CONFIG_FIELD_LINKHANDLING_OPTION_QUICKTIME</option>
		</field>
		<field
			name="customcode"
			type="textarea"
			rows="5"
			cols="30"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_CUSTOMCODE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_CUSTOMCODE_DESCRIPTION" />
		<field
			name="playerwidth"
			type="text"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERWIDTH_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERWIDTH_DESCRIPTION" />
		<field
			name="playerheight"
			type="text"
			default=""
			label="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERHEIGHT_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_PLAYERHEIGHT_DESCRIPTION" />
		<field
			name="linktitle"
			type="text"
			default="Listen Now!"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_LINKTITLE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_LINKTITLE_DESCRIPTION" />
		<field
			name="mimetype"
			type="text"
			size="30"
			default="audio/mpeg"
			label="COM_PODCASTMANAGER_CONFIG_FIELD_MIMETYPE_LABEL"
			description="COM_PODCASTMANAGER_CONFIG_FIELD_MIMETYPE_DESCRIPTION" />
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_podcastmanager"
			section="component" />
	</fieldset>
</config>