.info { 
	font-size: 11pt;
	text-align: left;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #CCDDFF;
	border: 1px #336699 dotted;
}

.filespace td {
	background-color: #FF9999 !important;
}

.alert {
	color: #000000;
	font-size: 11pt;
	text-align: left;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #FF9999;
	border: 1px #FF3333 dotted;
}
