.podcastheader{
	font-family: Georgia, serif;
	font-size: 18pt;
	color: #333333;
}

.divider {
	border: 1px dotted #000000;
}

.podcastmessage {
	text-align: left;
	font-family: Tahoma, Arial, serif;
	font-size: 12pt;
}